.htaccess
wp-config.php
wp-content/uploads
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-includes/
wp-content/themes/thegovlabacademy/library/images/cpt-icons/
wp-admin/
wp-content/themes/thegovlabacademy/.sass-cache/
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz

.idea
.sass-cache/
wp-content/themes/twentyfourteen/
