.featured-img img {
  width: 100%;
  max-height: 500px;
}
.button-extra-large{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 50px;
}
.button-extra-large .btn{
  padding: 10px;
  font-size: 1.3em;
  background-color: #f01d4f;
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
  display: block;
}
