/* COLORS
Purple - #50307f | rgba(80, 48, 127, 1)
Blue   - #00adef | rgba(0,173, 239, 1)
Pink   - #ed135a | rgba(237, 19, 90)
Green  - #00a99c | rgba(0, 169, 156)
*/

/* Reset */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #333;
}

/* Typography */

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #ed135a;
  }
}

h2 {
  margin: 0;
}

/* Layout */

.wrapper {
  width: 960px;
  margin: 0 auto;
}

section {
  margin-bottom: 10px;
}

/* Header */

header {
  padding: 20px 0 5px;
  margin: 0 0 15px 0;
  background-color: #f2f2f2;
  border-bottom: 2px solid #50307f;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  h1 {
    display: inline-block;
    margin: 0;
  }
  nav {
    display: inline-block;
    a {
      padding: 0 10px;
    }
  }
  a {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }
  .institutional-menu {
    float: right;
  }
  .subscribe-form {
    display: inline-block;
    padding-left: 20px;
    position: relative;
  }
}

.subscribe-form {
  form {
    display: none;
  }
  &.active form {
    display: inline-block;
    position: absolute;
    width: 250px;
    right: -10px;
    z-index: 1;
    background-color: rgba(0, 169, 156, 0.9);
    padding: 15px 15px;
    top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    span {
      position: absolute;
      top: -25px;
      right: 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      background-color: rgba(0, 169, 156, 0.9);
      padding: 5px 10px;
      cursor: pointer;
      box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
      z-index: 0;
    }
  }
  h4 {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #fff;
    font-weight: 100;
  }
  input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px;
    background-color: transparent;
    width: 208px;
    color: #fff;
    &.button {
      padding: 2px;
      width: 30px;
      cursor: pointer;
    }
  }
}

/* Theme Menu */

.theme-menu {
  background-color: #f2f2f2;
  margin-bottom: 15px;
  text-align: center;
  a {
    padding: 7px 15px 4px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-left: 7px solid #fff;
    border-right: 7px solid #fff;
    &:first-child {
      border-left: 15px solid #fff;
    }
    &:last-child {
      border-right: 15px solid #fff;
    }
  }
}

.main-slider {
  .container {
    width: 650px;
    overflow: hidden;
    display: inline-block;
  }
  .info {
    display: inline-block;
    width: 265px;
    background-color: #f2f2f2;
    margin-left: 11px;
    vertical-align: top;
    padding: 15px;
    height: 300px;
    h2 {
      text-transform: uppercase;
    }
    h3 {
      font-style: italic;
      color: #666;
      margin: 5px 0;
    }
  }
}

.big-quote {
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
  font-style: italic;
  text-align: right;
  color: #555;
}

/* Theme Menu */

.theme {
  display: inline-block;
  width: 226px;
  margin-right: 15px;
  vertical-align: top;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
  h2 {
    margin: 1px 0 10px;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 3px;
    border-bottom: 2px solid #333;
  }
  img {
    margin-bottom: 15px;
  }
  .info {
    background-color: #f2f2f2;
    padding: 15px;
    height: 200px;
    border-bottom: 2px solid #333;
    h3 {
      margin: 0;
      height: 32px;
      overflow: hidden;
    }
    h4 {
      color: #333;
      font-style: italic;
    }
    p {
      color: #333;
    }
  }
}

/* Sidebar */

aside {
  float: right;
  width: 226px;
}

/* Featured Content */

.featured-content {
  margin-top: 30px;
  .main-content > h2 {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid;
    width: 715px;
  }
}

.main-content p {
  color: #333;
}

.wp-post .info {
  background-color: #f2f2f2;
  margin: 0 0 15px 15px;
  padding: 15px;
  width: 355px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  h3 {
    margin-bottom: 0;
  }
  small {
    margin: 0;
    font-style: italic;
    color: #333;
  }
  p {
    margin: 5px 0;
  }
}

/* Footer */

body > footer {
  background-color: #333;
  padding: 15px;
  color: #fff;
  a {
    color: #999;
  }
}

/* Modal Windows */

.modal {
  width: 400px;
  position: absolute;
  top: 50px;
  left: calc(50% - 215px);
  background-color: rgba(0, 169, 156, 1);
  padding: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  display: none;
  z-index: 2;
  &.active {
    display: block;
  }
}

fieldset {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 15px 0;
}

.modal {
  input {
    &[type="text"] {
      width: 200px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.7);
      padding: 6px 5px 4px;
      color: #fff;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 100;
    }
    &[type="checkbox"] {
      margin-right: 10px;
    }
  }
  select {
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 5px 4px 3px;
    margin-left: 10px;
    width: 174px;
    background-color: transparent;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
  }
  h1 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px;
    line-height: 20px;
  }
  h3 {
    font-weight: 100;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    padding: 3px 0;
  }
  label {
    margin-right: 10px;
  }
  .button {
    border: 0;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 16px;
    width: 192px;
    margin: 10px 10px 0 0;
    &.cancel {
      background-color: #ed135a;
    }
    &.confirm {
      background-color: #50307f;
      margin-right: 0;
    }
  }
}

#overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  /*background-color: red;
  opacity: .3;*/
}